//
// Labels
//
.search-form {
	display: flex;
	align-items: center;
}

.form-label {
	color: var(--kt-form-label-color);

	&.search-label {
		margin-top: 5px;
		margin-right: 10px;
	}
}

// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.
.col-form-label {
	color: var(--kt-form-label-color);
}
